## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.pid

# rails specific
*.sqlite3
config/database.yml
log/*
tmp/*

# intellij
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# static file
data/

